{{!< default}}

<!-- Header -->
<header id="head">
	<div class="container">
		<div class="row">
			<h1 class="lead">ILLUSION AUDIO </h1>
			<p class="tagline">La mejor Calidad y Tecnología para tu auto 
				</p>
			<!-- <p><a class="btn btn-default btn-lg" role="button">MORE INFO</a> <a class="btn btn-action btn-lg"
					role="button">DOWNLOAD NOW</a></p> -->
		</div>
	</div>
</header>
<!-- /Header -->

<!-- Intro -->

<!-- /Intro-->
<div class="container">
	<br> <br>

		<h2 class="text-center top-space">Illusion Audio en Argentina</h2>
		<br>

		<div class="row">
			<div class="col-sm-6 text-center">
				<h3>Somos representantes</h3>
				<p>Para más info website: <a href="https://www.illusionaudio-america.com"> Illusion Audio - america</a> </p>
			</div>
			<div class="col-sm-6 text-center">
				<h3>Contáctate con nosotros</h3>
				<p>
				Esperamos tu consulta. <a href="/contact">Dejá tu mensaje</a> 
				</p>
			</div>
		
			<div class="col-sm-6 text-center">
				<img src="/images/luccentsub4.jpg" alt="imagen" width='200' height='150'> 
				<img src="/images/DB7H0758.jpg" alt="imagen" width='200' height='150' >
				<img src="/images/conebg3.jpg" alt="imagen" width='200' height='150'>
				<img src="/images/black3.jpg" alt="imagen" width='200' height='150'>
			</div>
			<div class="col-sm-6 text-center">
				<img src="/images/product.jpg" alt="imagen" > 
			</div>
			
</div>

<div class="container">
	<div class="jumbotron top-space">
		<h4>El desarrollo de las nuevas líneas de Illusion Audio combinan décadas de experiencia con pasión. 
		Son el resultado de años de dedicación en la construcción de cada producto. 
		En ellos se distingue la mejor calidad en sonido y durabilidad en los materiales, sin descuidar la estética de los mismos.</p>
		Te invitamos a Conocerlas.</h4>
		<p class="text-right"><a href="/lineaProd" class="btn btn-primary btn-large">Ver más »</a></p>
	</div>
</div>	

{{!-- 
<div class="container">
		<h2 class="text-center top-space">Illusion Audio en Argentina</h2>
		<br>
<div class="col-md-4 col-lg-4">
			<div class="col-sm-6">
				<h3>Somos representantes</h3>
				<p>Para más info website: <a href="https://www.illusionaudio-america.com"> Illusion Audio - america</a> </p>
			</div>
	</div>
	<div class="col-md-4 col-lg-4">
		<div id="heroCarousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#heroCarousel" data-slide-to="1" class="active"></li>
						<li data-target="#heroCarousel"></li>
						<li data-target="#heroCarousel"></li>
						<li data-target="#heroCarousel"></li>
   					</ol> 
					<div class="carousel-inner" role="listbox">
							 	<div class="item active">
										<img src="/images/luccentsub4.jpg" alt="imagen"> 
								</div>
								<div class="item">
      								<img src="/images/DB7H0758.jpg" alt="imagen">
								</div>
								<div class="item">
      								<img src="/images/conebg3.jpg" alt="imagen">
								</div>
									<div class="item">
      								<img src="/images/black3.jpg" alt="imagen">
								</div>
					</div>
					<a class="left carousel-control" href="#heroCarousel" data-slide="prev">
    					<span class="glyphicon glyphicon-chevron-left"></span>
    					<span class="sr-only">Previous</span>
  					</a>
  					<a class="right carousel-control" href="#heroCarousel" data-slide="next">
    					<span class="glyphicon glyphicon-chevron-right"></span>
    					<span class="sr-only">Next</span>
  						</a>
		</div>
	</div>
	<div class="col-md-6 col-lg-6">
		
			<div class="col-sm-6">
				<h3>Contáctate con nosotros</h3>
				<p>
				Esperamos tu consulta. <a href="/contact">Dejá tu mensaje</a> 
				</p>
			</div>
		</div> <!-- /row -->
		</div>
</div>
</div> --}}